/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    background-image: url('1.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* Section Styles */
.section {
    display: none;
}

.section.active {
    display: block;
}

/* Form Styles */
form {
    max-width: 200px;
    max-height: 500px;
    margin: 0 auto 20px auto;
    background: #ffffff00;
    padding: 1rem;
    border-radius: 8px;
    
}

form h2 {
    text-align: center;
    color: #333;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

form input[type="text"], 
form input[type="email"], 
form input[type="tel"], 
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

form button:hover {
    background-color: #218838;
}

/* Additional Styles */
h1 {
    margin-top: 0;
    font-size: 24px;
    color: #fff;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

/* Flip Card Container */
.container {
    perspective: 1000px;
}

/* Flip Card */
.card {
    width: 300px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

/* Card Side */
.side {
    width: 100%;
    height: fit-content;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffffa6;
    padding: 20px;
    box-sizing: border-box;
}

.front {
    background-color: #28a74600;
}

.back {
    background-color: #df626200;
    
    transform: rotateY(180deg);
}

/* Flip Card Flipped State */
.card.flipped {
    transform: rotateY(180deg);
}

/* Buttons */
button {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #ddd;
}

.flip-button {
    width: auto;
    height: 60px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #080cff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.flip-button:hover {
    background-color: #47c8fc;
}
